/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  font-family: 'Inter', sans-serif;
}

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Tailwind And DaisyUI */
@import 'tailwindcss';
@plugin "daisyui" {
  themes: light --default;
}

/* Check */
.check {
  @apply border border-red-500;
}

/* Navbar */
.nav-links li {
  @apply hover:bg-[#f6f6f6] rounded-full px-3 py-2 cursor-pointer;
}

/* Events And Clubs Page */
.type option {
  @apply w-60 p-1.5 rounded-2xl;
}
